*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;
    background: linear-gradient(-45deg, rgb(144, 144, 204), rgb(104, 158, 184), rgb(9, 104, 194), rgb(89, 89, 209));
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}